[submodule "openair-epc-fed"]
	path = openair-epc-fed
	url = https://github.com/OPENAIRINTERFACE/openair-epc-fed.git
[submodule "openairinterface5g"]
	path = openairinterface5g
	url = https://gitlab.eurecom.fr/oai/openairinterface5g.git
[submodule "pycrate"]
	path = pycrate
	url = https://github.com/P1sec/pycrate.git
[submodule "CryptoMobile"]
	path = CryptoMobile
	url = https://github.com/mitshell/CryptoMobile.git
[submodule "pyoidc"]
	path = pyoidc
	url = https://github.com/OpenIDC/pyoidc.git
